.filters {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  font-size: 0.83em;
  font-weight: bold;
  padding: 0 6pt 6pt !important;

  li {
    align-items: center;
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    display: flex;
    padding: 0 0 0 10px;
    margin: 3px;

    label {
      cursor: pointer;

      strong {
	font-weight: bold;
      }
    }

    button {
      box-shadow: none;
      margin: 3px;
      padding: 0;
      width: 24px;
      height: 24px;
      background: none;
      font-size: 11px;
      vertical-align: middle;
      color: #b3b3b3;

      &:hover {
        color: $color-primary;
      }
    }

    &.not {
      border-color: #dc0067;
      color: #dc0067;
      button {
        &:hover {
          color: #dc0067;
        }
      }
      label {
        color: #dc0067;
	text-decoration: line-through;
      }
    }
  }

  .filter-node {
    border: 0;
    padding: 0 5px;
    width: 100%;
    background: transparent;

    &::before {
      font-size: 1.8em;
    }

    div{
     width: 100%;
    }

    input {
     background: transparent;
     border: none;
     border-bottom: 1px solid $color-primary;
     font-family: Roboto, sans-serif;
     font-size: 15px;
     margin: 0 15px 0 3px;
     outline: none;
     padding: 0 2px;
     width: 100%;
     -webkit-appearance: none;

       &:focus{
         background: transparentize($color-primary, .95);
       }
    }

    button {
      display: none;
    }
  }
/*
  input {
    background: transparent;
    border-bottom: 2pt solid rgba(255, 255, 255, 0.5);
    padding: 2pt 0;
    outline: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border: none;

    &:focus {
      background: rgba(255, 255, 255, 0.15);
    }
  }
*/

  strong.input {
    cursor: text;
  }
}
