// Needed for standalone scss
// @import 'icon-mixin';

$cache-breaker: unique-id();

@font-face {
  font-family: 'ionicons';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ff3licons.woff2?rel=#{$cache-breaker}') format('woff2'),
  url('/fonts/ff3licons.woff?rel=#{$cache-breaker}') format('woff'),
  url('/fonts/ff3licons.ttf?rel=#{$cache-breaker}') format('truetype');
}

[class^='ion-'],
[class*=' ion-'] {
  &::before {
    display: inline-block;
    font-family: ionicons;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-rendering: auto;
    text-transform: none;
    vertical-align: 0;
  }
}

@include icon('arrow-down-b', '\f104');
@include icon('arrow-up-b', '\f10d');
@include icon('chevron-left', '\f124');
@include icon('eye', '\f133');
@include icon('location', '\f1ff');
@include icon('person', '\f213');
@include icon('wifi', '\f25c');
@include icon('pin', '\f2a6');
@include icon('android-close', '\f2c7');
@include icon('android-close', '\f2d7');
@include icon('locate', '\f2e9');
@include icon('filter', '\f38B');
@include icon('android-lock', '\f392');
@include icon('ios-copy', '\f41c');

